.body {
    background-image: url('../images/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.header {
    display: inline-block;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 150px;
}

.image {
    width: 150px;
}

.div {
    float: right;
    margin-top: 60px; 
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 60px;
    font-weight: bold;
    font-size: 20px;
}

    .link:hover {
        text-decoration: underline;
}

.main {
    color: white;
    text-align: center;
    margin-top: 220px;
}
.error {
    font-size: 170px; 
}

.description {
    font-size: 17px;
    margin-bottom: 220px;
}

.home {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.home:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-wrap: initial;
    padding-top: 40px;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 70px;
    
}

.footer > .div-footer { 
    display: flex;
    width: 70%;
    gap: 30px;
    margin-left: 100px;
}

.div-footer > .icon {
    justify-content: flex-start;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
}

.fa{
    font-size: 50px;
}
.icon:hover { 
    color: black;
    background-color: white;


}    

.brand {
    flex-direction: column;
    color: white;
    width: 30%;
    float: right;
    float: right;
}